.about-me-header {
    font-size: 35px;
}

.about-me-container {
    position: relative;
    height: 85vh;
    padding-top: 2.5%;

    font-size: 20px;
    text-align: justify;
}

@media (max-width: 600px) {
    .about-me-container {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .about-me-container {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media (min-width: 1200px) {
    .about-me-container {
        padding-left: 33.33vw;
        padding-right: 33.33vw;
    }
}
