.home-image-array {
    display: flex;
}

.home-image {
    border-radius: 1rem;
}

.home-about-me {
    display: flex;

    color: #e9f1f4;
    background-color: #7dacc0;

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 1rem;
}

.home-about-me-content {
    padding: 2rem;
}

.home-about-me-tiktok {
    padding: 2rem;
}

.home-about-me-header {
    margin-bottom: 1rem;
}

@media (max-width: 800px) {
    .home-container {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .home-image-array {
        flex-direction: column;
    }

    .home-image {
        width: 100%;
        margin-bottom: 2rem;
    }

    .home-about-me-header {
        font-size: 22px;
    }

    .home-about-me-description {
        font-size: 16px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .home-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .home-image-array {
        flex-direction: row;
        justify-content: space-between;
    }

    .home-image {
        width: 31.5%;
    }

    .home-about-me-header {
        font-size: 35px;
    }

    .home-about-me-description {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .home-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .home-image-array {
        flex-direction: row;
        justify-content: space-between;
    }

    .home-image {
        width: 31.5%;
    }

    .home-about-me-header {
        font-size: 35px;
    }

    .home-about-me-description {
        font-size: 20px;
    }
}
