.home-upcoming-shows {
    display: flex;
    flex-direction: column;

    text-align: center;

    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border: 2px solid;
    border-radius: 1rem;
    border-color: #7dacc0;
}

.home-image-array {
    display: flex;
}

.home-image {
    border-radius: 1rem;
}

.home-about-me {
    display: flex;

    color: #e9f1f4;
    background-color: #7dacc0;

    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 1rem;
}

.home-about-me-content {
    padding: 2rem;
}

.home-about-me-tiktok {
    padding: 2rem;
}

.home-about-me-header {
    margin-bottom: 1rem;
}

.home-mailing-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 5rem;
}

.home-mailing-list-alert-banner {
    margin-top: 5rem;
}

.home-mailing-list-input {
    font-family: "Spectral", serif;
    background-color: #e9f1f4;
    font-size: 16px;
    color: #7dacc0;

    border-radius: 7.5px;
    border: 1.5px solid #7dacc0;
    outline: none;

    padding: 1rem;
    margin-bottom: 2.5%;
}

.home-mailing-list-submit {
    font-family: "Spectral", serif;
    background-color: #7dacc0;
    font-size: 18px;
    color: #e9f1f4;

    border-radius: 7.5px;
    border: none;

    width: 6rem;
    padding-top: 1%;
    padding-bottom: 1%;

    cursor: pointer;

    transition: all 0.05s ease;
}

.home-mailing-list-submit:active {
    background-color: #e9f1f4;
    color: #7dacc0;

    border: 1.5px solid #7dacc0;
}

.home-mailing-list-description {
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .home-container {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .home-image-array {
        flex-direction: column;
    }

    .home-image {
        width: 100%;
        margin-bottom: 2rem;
    }

    .home-description {
        font-size: 16px;
    }

    .home-header {
        font-size: 22px;
    }

    .home-mailing-list-input {
        width: 40%;
    }

    .home-mailing-list-input {
        width: 70%;
        padding: 0.5rem;
    }

    input::placeholder {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .home-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .home-image-array {
        flex-direction: row;
        justify-content: space-between;
    }

    .home-image {
        width: 31.5%;
    }

    .home-header {
        font-size: 35px;
    }

    .homee-description {
        font-size: 20px;
    }

    .home-mailing-list-input {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .home-container {
        width: 60vw;
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .home-image-array {
        flex-direction: row;
        justify-content: space-between;
    }

    .home-image {
        width: 31.5%;
    }

    .home-header {
        font-size: 35px;
    }

    .home-description {
        font-size: 20px;
    }

    .home-mailing-list-input {
        width: 40%;
    }
}
