.navbar {
    width: 95vw;
    height: 5.5rem;
    padding-left: 2.5vw;
    padding-right: 2.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 1000;

    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;

    background-color: #e9f1f4;
}

.icon-wrapper {
    position: absolute;
    left: 40px;
    height: 40px;
    display: flex;
    align-items: center; /* makes sure SVG stays vertically centered */
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
}

.navbar-icon {
    position: absolute;
    transition: opacity 0.075s ease-in-out;
}

.navbar-icon.visible {
    opacity: 1;
    pointer-events: auto;
}

.navbar-icon.hidden {
    opacity: 0;
    pointer-events: none;
}

.navbar-icon:focus {
    outline: none;
}

@media (max-width: 350px) {
    .icon-wrapper {
        width: 10px;
    }
}

@media (min-width: 350px) and (max-width: 400px) {
    .navbar {
        font-size: 22px;
    }

    .contact-me {
        visibility: hidden;
    }

    .icon-wrapper {
        width: 20px;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    .navbar {
        font-size: 26px;
    }

    .contact-me {
        visibility: hidden;
    }

    .icon-wrapper {
        width: 40px;
    }
}

@media (min-width: 600px) {
    .navbar {
        font-size: 40px;
    }

    .icon-wrapper {
        width: 40px;
    }
}

.navbar-header a {
    text-decoration: none;
    color: #7dacc0;
}

.contact-me {
    height: 40px;
    width: 6rem;
    border-radius: 25px;
    border: none;
    background-color: #7cacc0;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 14px;
    color: #e9f1f4;
}
