.portfolio-header {
    font-size: 35px;
}

.portfolio-item {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (max-width: 600px) {
    .portoflio-container {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    .portfolio-container {
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media (min-width: 1200px) {
    .portfolio-container {
        padding-left: 33.33vw;
        padding-right: 33.33vw;
    }
}
