.shop-item-image {
    width: 100%;

    border-radius: 1rem;
}

.shop-item-content {
    padding-top: 5%;
    padding-bottom: 5%;
}

.shop-item-buy {
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #7cacc0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
    color: #e9f1f4;
    cursor: pointer;
}
